[submodule "server/go-porterstemmer"]
	path = server/go-porterstemmer
	url = https://github.com/reiver/go-porterstemmer/
[submodule "server/stemmer"]
	path = server/stemmer
	url = https://github.com/caneroj1/stemmer/
